exportPattern("^[[:alpha:]]+")
import(tseries)
import(quantmod)
S3method(predict,acp)
S3method(print,acp)
S3method(acp,default)
S3method(acp,formula)
S3method(print,summary.acp)
S3method(summary,acp)